<div class="wrap">
    <div class="icon32" id="icon-tools"><br /></div>
    
    <h2>WP2Static Tools</h2>
    
    <div class="updated">
        <p>THIS MAY TAKE A LONG TIME TO COMPLETE!</p>
    </div>
    
    <p>
        <button class="button-primary export" title="Export">
            Export Site
        </button>
    </p>
    
    <div id="wp2static-results"></div>
</div>
